<% include common/header.ejs %>

<div class="container-fluid">
    <div class="main-content order-page">
        <div class="contact-form">
            <div class="form-description">1. Контактні дані
            </div>
            <div class="row">
                <div class="col-md-7">
                    <form class="form-horizontal">
                        <div class="form-group name-group">
                            <label for="" class="col-sm-2 control-label">Ім'я</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputName" placeholder="Ім'я Прізвище">
                            </div>
                            <span class="name-help-block" style="display:none">Введіть ім'я без цифр</span>
                        </div>

                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">Телефон</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputPhone" placeholder="+380994010999">
                            </div>
                            <span class="telephone-help-block" style="display:none">Введіть номер телефону у форматі +380</span>
                        </div>

                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">Адреса</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputAddress" placeholder="Київ, вул. Спаська, 2">
                            </div>
                            <span class="address-help-block" style="display:none">Введіть адресу доставки піци</span>
                        </div>
                    </form>
                </div>

                <div class="col-md-5 order-summary" >
                    <div class="bs-callout bs-callout-warning">
                        <h3>Інформація про замовлення</h3>
                        <p class="order-summery-time">
                            <b>Приблизний час доставки:</b> невідомий
                        </p>
                        <p class="order-summery-address">
                            <b>Адреса доставки:</b> невідома
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group"><button class="btn btn-warning next-step-button">Далі</button></div>
            </div>
        </div>
    </div>
</div>

<% include common/rightPanel.html %>
<% include common/footer.ejs %>